.layout {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.title,
.navbar {
  border-right: 1px solid black;
}

.navbar,
.content {
  border-top: 1px solid black;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  padding: 10px;
}
