table,
th,
td {
  border: 1px solid #dac5c5;
  padding: 10px;
  text-align: left;
}

table {
  border-collapse: collapse;
  margin: 10px 0 30px;
  width: 100%;
}

thead {
  background-color: #32a4c1;
  color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.transaction {
  padding: 20px 0;
  min-height: 200px;
}

.transaction .status {
  color: rgb(28, 129, 9);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.transaction .status.booked {
  background-color: #f69685;
}
