.nav-bar-item {
  padding: 10px 10px;
  margin-right: 30px;
}

.nav-bar-item.active {
  border: #fff solid 1px;
  border-radius: 20px;
}

.nav-bar-item a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.nav-bar-item a i {
  margin-right: 10px;
}
