/* Reserve-info */

.reserve-info {
  margin-left: 50px;
  flex-grow: 1;
}

.reserve-info-input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.reserve-info-input input {
  padding: 10px;
  margin-top: 5px;
}

/* Select-Rooms */

.select-rooms {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Submit */

.submit {
  display: flex;
  align-items: center;
}

.submit select {
  width: 300px;
  padding: 10px;
  font-size: 15px;
}

.submit button {
  margin-left: 80px;
  width: 200px;
  font-size: 15px;
}

.submit-error {
  color: red;
  margin-left: 20px;
}
