.select-room {
  margin-top: 20px;
  margin-right: 50px;
}

.room {
  display: flex;
  justify-content: space-between;
}

.room-info .people {
  font-size: 15px;
  font-weight: 500;
}

.room-info .price {
  font-weight: bold;
}

.room-numbers {
  display: flex;
  margin-left: 30px;
}

.room-number {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  font-size: 15px;
}
