.info-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.info-board-item {
  border-radius: 5px;
  padding: 10px;
}

.info-board-item .title {
  color: var(--title-color);
  font-weight: bold;
  text-transform: uppercase;
}

.info-board-item .value {
  font-size: 1.5rem;
  margin: 10px 0;
}

.info-board-item .icon {
  text-align: right;
}
