.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-content: center;
  margin: 20px 0;
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
}

.login-error {
  color: red;
}
